// loading
#loadingContain{
    height: 100px;
    width: 100px;
    position: absolute;
    margin:auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    animation: circleFade 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    div{   
        height: 40px;
        width: 40px;
        position: absolute;
        margin:auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &::before{
            content: '';
            display: block;
            margin: 0 auto;
            width: 15%;
            height: 12%;
            background-color: rgb(158, 153, 153);
            border-radius: 100%;
       }
    }
    @for $i from 2 through 8{
        .content#{$i}{
            transform: rotate((45deg*$i - 45deg));
            opacity: 0+$i*0.12;
        }
    }    
}
@keyframes circleFade {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}
#bg{
    height: 363px;
    width: 240px;
    position: absolute;
    margin: auto;
    left: 0;
    bottom:0;
    right: 0;
    top:40px;
    border-radius: 5px;
    background-color:rgb(45,45,45);
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.75);
    #containTop{
        height: 20px;
        width: 100%;
        padding-top: 10px;
        span{
            width: 11px;
            height: 11px;
            float: left;
            margin-left: 10px;
            background-color:#ccc;
            border-radius: 50%;
            &:nth-child(1){
                background-color: rgb(255,83,81); 
            }
            &:nth-child(2){
                background-color: rgb(255,187,65);
                }
            &:nth-child(3){
                background-color: rgb(11,200,77);
                }   
            }
        }
    #screen{
        height: 60px;
        width: 100%;
        font-size: 30px;
        padding-top: 30px;
        padding-right: 30px;
        text-align: right;
        white-space: nowrap;
        line-height: 60px;
        input{
            float: right;
            width: 100%;
            height: 100%;
            margin-right: 20px;
            text-align: right;
            border: none;
            color:#fff;
            background-color:rgb(45,45,45);
        }
    }
    ul{
        position: absolute;
        width: 100%;
        height: 240px;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        border-radius: 5px;
        li{
            text-align: center;
            height: 48px;
            line-height: 48px;
            flex: 1 24%;
            background-color: #ccc;
            margin: 0 -1px -1px 0;
            color: rgb(231, 231, 231);
            cursor: pointer;
            background-color: rgb(96,96,96);
            border: 1px solid rgb(45,45,45);
            &:active{
                background-color: rgb(182,192,181);
                }
            &:nth-child(1){
                border-top: none;
                border-left: none;
                background-color:rgb(65,65,65);
                }
            &:nth-child(1):active{
                background-color: rgb(150,152,145);
                }
            &:nth-child(2){
                border-top: none;
                background-color:rgb(65,65,65);
                }
            &:nth-child(2):active{
                background-color: rgb(150,152,145);
                }
            &:nth-child(3){
                border-top: none;
                background-color:rgb(65,65,65);
                }
            &:nth-child(3):active{
                background-color: rgb(150,152,145);
                }
            &:nth-child(4){
                border-top: none;
                background-color: rgb(250,140,0);
                }
            &:nth-child(4):active{
                background-color: rgb(229,134,26);
                }
            &:nth-child(5){
                border-left: none;
                }
            &:nth-child(8){
                background-color: rgb(250,140,0); 
                }
            &:nth-child(8):active{
                background-color: rgb(229,134,26);
                }
            &:nth-child(9){
                border-left: none;
                } 
            &:nth-child(12){
                background-color: rgb(250,140,0);
                }
            &:nth-child(12):active{
                background-color: rgb(229,134,26);
                }   
            &:nth-child(13){
                border-left: none;
                }
            &:nth-child(16){
                background-color: rgb(250,140,0);
                }
            &:nth-child(16):active{
                background-color: rgb(229,134,26);
                }
            &:nth-child(17){
                border-left: none;
                flex-basis: 118px;
                }
            &:nth-child(19){
                background-color: rgb(250,140,0);
                }
            &:nth-child(19):active{
                background-color: rgb(229,134,26);
            }
        }
    }
}
